@font-face {
  font-family: 'Barlow Condensed';
  src: url(../fonts/BarlowSemiCondensed-ExtraBoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

html {
  font-family: "Barlow Condensed";
  font-style: italic;
  font-weight: 700;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

